
<link rel="stylesheet" href="css/Whatsapp.css">

<div id="medialar" class="container-fluid" style="width:100%; padding-left:0; padding-right:0;">
    <!-- Nav Barımız üst ikon menümüz-->

    <nav class="navbar navbar-expand-md bg-success navbar-light" id="ustnav">

        <div class="container">

            <a href="#" class="navbar-brand " style="color: white"><img src="resim/580b57fcd9996e24bc43c543.png"
                    style="width: 50px" class="px-2"> Whatsapp</a>

            <button style="right: 0px !important " class="navbar-toggler" data-toggle="collapse"
                data-target="#NavCol"><span style="float: right" class="navbar-toggler-icon "></span></button>


            <div class="collapse navbar-collapse" id="NavCol">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ml-auto p-1 bg-success"><a class="nav-link text-light"
                            href="index.html">Hakkımızda...</a></li>
                    <li class="nav-item ml-auto p-1"><a class="nav-link text-light"
                            href="%C4%B0ndirilenler.html">İndir</a></li>
                    <li class="nav-item ml-auto p-1"><a class="nav-link text-light" href="iletisim.html">İletişim</a>
                    </li>
                    <li class="nav-item ml-auto p-1"><a class="nav-link text-light" href="Guvenlik.html">Güvenlik</a>
                    </li>
                    <li class="nav-item ml-auto p-1"><a class="nav-link text-light" href="whatsappWeb.html">Whatsapp</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
</div>

<!-- Nav Barımız üst ikon menümüz-->


<div id="slidenavdivi" style="margin-top: 38px;">
    <button id="b1" class="btn btn-success"><img style="width: 40px" src="resim/580b57fcd9996e24bc43c543.png"></button>
    <div style="margin-top: 17px" class="vertical-menu" id="slidenav">
        <a href="#" id="home"><img style="width: 40px" src="resim/580b57fcd9996e24bc43c543.png" href="index.html">
            Hakkımızda..</a>


        <a href="%C4%B0ndirilenler.html">İndir</a>
        <a href="Guvenlik.html">Güvenlik</a>
        <a href="iletisim.html">İletişim</a>
        <a href="whatsappWeb.html">WhatsappWeb</a>
    </div>
</div>

<script>
    $(function () {
        $("#b1").click(function () {
            $("#slidenav").fadeToggle();



        });
    });
</script>
