{% extends "common/layout.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'anketekle.css'%} ">
<div class="container">
  <div class="jumbotron text-center">
    <h1>ANKET DOLDURMA SAYFASINA HOŞGELDİN</h1>
    <p>Bu sayfada sürücüler olarakaNKET EKLEME YAPTIGIMIZ YERDİR İYİ ANKETLER DİLERİQ</p>
    <strong>...Güvenli Sürüş ailesi olarak keyifli sürüşler dileriz...</strong>
  </div>
<form method="POST">
    {% csrf_token %}
    <div class="row">
    {% for field in form %}
    {% if field.label == "Hangi Guruba Dahil" %}
        <div class="col-md-12">
            <label>Hangi Guruba Dahil</label><br>
            <select  name="benzerlik" id="Faktor2" > </select>
        </div>

       


  {% endif %}
 {% if field.label == "Sorun Kim Tarafından Kaynaklı" %} 
        <div class=" col-md-12">
            <label>Sorun Kim Tarafından Kaynaklı </label><br>
            <select name="ana_unsur" id="Faktor1" > </select>
        </div>
    {% endif %}
    {% if field.label != "Sorun Kim Tarafından Kaynaklı" and field.label != "Hangi Guruba Dahil" %} 
        <div class="col-md-12">
      <h4 style="font-weight: bold;">
      {{ field.label }}<br><br>
        </h4>
    </div>

    <div class="col-md-12">

      {{ field }}
    </div>
      <br><br>
     

    {% endif %}
    
    {% endfor %}
  </div>
  <button class="btn btn-success btn-lg btn-block" type="submit"> Güncelle</button>
 
</form>
</div>



<script>

  data = {
      "0":{
          "name":"İnsan",
          "Faktor":{
              "0":"Dikkatsizlik",
              "1":"Alkol",

          }

      },
      "1":{
          "name":"belediye",
          "Faktor":{
              "0":"Trafik işaretleri",
              "1":"onarım"
          }
      },
      "2":{
          "name":"Çevresel Etken",
          "Faktor":{
              "0":"hayvan fırlaması",
              "1":"doğal afet"
          }
      }
  }





  $( document ).ready(function() {
      $('#Faktor1').append($('<option>', {
//         value: "undifend",
         
      }));
      $('#Faktor2').append($('<option>', {
//          value: "undifend",
          
      }));
  $.each(data,function (index,value) {
      $('#Faktor1').append($('<option>', {
      value: value.name,
      text:  value.name
      }));


  })
});
  $("#Faktor1").change(function() {
      var Faktor=this.value
      $.each(data,function (index,value) {

          if (Faktor==value.name) {
              $('#Faktor2').find('option').remove().end().append('<option selected> --- Faktor2 Seçiniz --- </option>').val('');
              $.each(value.Faktor,function (index,val) {

                  $('#Faktor2').append($('<option>', {
                  value: val,
                  text:val
              }));
              })

          }
      })

  });




  // kendi denemem ha bu ona göre 
  
var x=document.getElementById("demo");
function getLocation()
  {
  if (navigator.geolocation)
    {
    navigator.geolocation.getCurrentPosition(showPosition);
    }
  else{x.innerHTML="Tarayıcınız bu özelliği desteklemiyor.";}
  }
function showPosition(position)
  {
  x.innerHTML="Enlem: " + position.coords.latitude + 
  "<br>Boylam: " + position.coords.longitude;	
  }

  </script>

{% endblock %}
