{% extends "common/layout.html" %}
{% load static %}
{% block content %}

<style>
    body{
        background-color: #93BFA3;
    }
</style>

<h1 class='alert alert-success'>İletişim Formu</h1>
<h3 class="p-3 mb-2 bg-primary text-white" style='font-size: 50px;'>Güvenli Sürüş
</h3>
<form method="POST" id="form" class="text-center" enctype="multipart/form-data">
    <!-- Very Important csrf Token -->

    <div class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
        </p>
        <br>
        <input type="submit" name="Subscribe" class='btn btn-primary btn-lg'>
    </div>
</form>

{% endblock %}