
{% extends "common/layout.html" %}
{% load static %}
{% block content %}
<div class="container">
  {{user.id}}
  <button ><a href="/user/logout"> Çıkış yapmak için </a></button>
  <div class="row">
    <div class="col-md-6">
 <!-- ilk satır                 -->
        <div class="card border-bottom pb-3 text-center">
          <h2 class="card-title text-center" >Anket Yönetimi </h2>
           <img class="card-img-top" src="{% static 'anket.png' '%}" alt="Anket Fotosu">
           <div class="card-body">
              <p class="card-text text-center">anket oluşturma, görüntüleme, güncelleme ve ekleme sayfaları .</p>
              <a href="/anket/anketyonetimi" class="btn btn-sm btn-success ">İşlemler  </a>
           </div>
        </div>
   
  </div>
  <div class=" col-md-6 ">
    <div class="card border-bottom pb-3 text-center">
      <h2 class="card-title text-center" >Kişisel Bilgiler </h2>
       <img class="card-img-top" src="{% static 'kisisel.png' '%}" alt="Anket Fotosu">
       <div class="card-body">
          <p class="card-text text-center">Bilgilerinizi güncelleyebileceğiniz, görüntüleyebileceğiniz ve üyeliğinizi sonlandırabileceğiniz sayfalar için.</p>
          <a href="/user/kisisel/" class="btn btn-sm btn-success ">İşlemler  </a>
       </div>
    </div>

  </div>
  </div>
  
  <br>
  <div class="row">
  <div class=" col-md-12">
    <div class="card border-bottom pb-3 text-center">
      <h2 class="card-title text-center" >Navigasyon</h2>
       <img class="card-img-top" src="//placeimg.com/280/180/tech" alt="Anket Fotosu">
       <div class="card-body">
          <p class="card-text text-center">Güvenli bir yolculuğa başlamak isterseniz doğru adrestesiniz</p>
          <a href="#" class="btn btn-sm btn-success  ">İşlemler  </a>
         
       </div>
    </div>

  </div>
</div>
</div>
</div>


{% endblock %}