{% extends "common/layout.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css.css'%} ">
<script>
    const titles = ['Gidilecek İstikamet', '#HayatEveSigar...'];
    var i = 0;
    setInterval(() => {
        document.title = titles[i];
        if (i == 1) i = 0;
        else i = 1;
    }, 2000);

    var kazalar = "{{kazalar|escapejs}}".split(',');
</script>


<div class="container main">
    <h1 style="text-align: center;">Gidmek istediğiniz yerden nereye gideceginizi</h1>
    <form>
        <!-- Location 1 -->
        <div class="row text-center">
            <div class="col-12 col-md-6 text-center">
                <div class="location-label">
                    <label>Başlangıç: </label>
                </div>
                <input type="text" id="location-1" name="origin" placeholder="Enter a start location...">


                <button type="button" onclick="getLoc()">Anlık Konum</button>
            </div>

            <!-- Location 2 -->

            <div class="col-12 col-md-6 text-center">
                <div class="location-label">
                    <label>Varış: </label>
                </div>
                <div class="location-input">
                    <input type="text" id="location-2" name="destination" placeholder="Enter a last location...">
                </div>
            </div>
        </div>


        <!-- Submit button -->
        <div class="row">
            <button class="button btn1" type="button" onclick="clearRoute();">Clear</button>
            <button class="button btn2" type="button" style="display:inline-block; right:10px"
                onclick="calcRoute();">Submit</button>
        </div>

        <!-- Stats table -->
        <div id="output" class="result-table"></div>
    </form>

    <div class="container-map" id="google-map"></div>

    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>

</div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjDCtgyoBK9Qj8Cb6G9AlnhkDJPQw-dGw&libraries=places"
    type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<script src="{% static 'main.js'%} " type="text/javascript"></script>
{% endblock %}